@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Mona Sans', sans-serif;
}

html, body {
    background-color: rgb(33, 40, 48);
}

.side_anime {
    animation: anime 0.25s ease-in-out forwards;
}

@keyframes anime {
    from {
        opacity: 0.9;
        left: -150px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgb(48, 54, 61);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(101, 108, 118);
}